services:

  redis:
    image: redis:latest
    ports:
      - "6379:6379"
    restart: always

  postgres:
    image: postgres:15
    environment:
      POSTGRES_DB: ${DB_NAME:-postgres}
      POSTGRES_USER: ${DB_USER:-postgres}
      POSTGRES_PASSWORD: ${DB_PASSWORD:-postgres}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: always
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready ${POSTGRES_USER}"]
      interval: 10s
      timeout: 5s
      retries: 3

  django:
    build: ./server/.
    depends_on:
      - postgres
      - redis
    ports:
      - "8000:8000"
    restart: always
    env_file:
      - .env
    command: sh -c "python manage.py makemigrations && python manage.py migrate && python manage.py runserver 0.0.0.0:8000"

  bot:
    build: ./bot/.
    depends_on:
      - postgres
      - django
      - redis
    restart: always
    env_file:
      - .env
    command: sh -c "python main.py"
volumes:
  postgres_data:

